body {
  font-family: 'IBM Plex Mono', monospace !important;
  font-size: .9rem !important;
  margin: 0;
  /* font-family: 'Inter', sans-serif !important; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
